  .signin-button {
    background-color: rgb(40, 40, 251);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    transition: opacity 0.15s;
  }

  .signin-button:hover {
    opacity: 0.8;
  }

  .signin-button:active {
    opacity: 0.5;
  }

  .login-button {
    background-color: white;
    border-color: rgb(51, 136, 255);
    border-style: solid;
    border-width: 1px;
    color:  rgb(51, 136, 255);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
  }

  .login-button:hover {
    background-color:blue;
    color:white;
  }

  .login-button:active {
    opacity:0.7;
  }

  .listyourproperty-button {
    background-color: rgb(64, 77, 255);
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow 0.15s;
  }

  .listyourproperty-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }