p {
    font-family: Roboto;
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .website-motto {
    font-weight: bold;
    font-size: 30px;
    width: 500px;
    margin-bottom: 5px;
  }

  .website-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
  }

  .website-author {
    font-size: 14px;
    color:rgb(96, 96, 96);
    margin-bottom: 20px;
  }

  .website-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 500px;
    line-height: 22px;
    margin-bottom: 100px;
  }

  .venu-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .shop-link {
    cursor: pointer;
  }

  .shop-link:hover {
  text-decoration: underline;
  }

  